<html>
<head>
	<title>QueReal</title>
	<link rel="stylesheet" href="/styles/shared.css" />
	<script src="/scripts/app.js"></script>
</head>
<body>
	<header>
		@Html.ActionLink("Home", "Index", "Home")
		@if (User.Identity.IsAuthenticated)
		{
			@Html.ActionLink("My quests", "Index", "Quest")
			@Html.ActionLink("Logout", "Logout", "User")
		}
		else
		{
			@Html.ActionLink("Login", "Login", "User")
			@Html.ActionLink("Register", "Register", "User")
		}
	</header>
	<main>
		@RenderBody()
	</main>
</body>
</html>