@using QueReal.PL.Models.Quest
@model QuestViewModel

<h1 class="quest-header">@Model.Title</h1>
<div class="date-block">
	<span>Created at: <span>@Model.CreateTime</span></span>
	<span>Updated at: <span>@Model.UpdateTime</span></span>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", "Quest", new { questId = Model.Id })
</div>
<h2>Items</h2>
<table>
	@foreach (var questItem in Model.QuestItems)
	{
		<tr class="quest-item-details">
			<td class="quest-item-title">@questItem.Title</td>
			<td>
				<span>@questItem.Progress%</span>
				<progress max="100" value="@questItem.Progress"></progress>
			</td>
		</tr>
	}
</table>