@using QueReal.PL.Models.Quest
@model QuestGetAllViewModel

<h1>My quests</h1>
<div>
	@Html.ActionLink("Create quest", "Create", "Quest")
</div>
<div>
	@foreach (var quest in Model.Quests)
	{
		<div>
			<h2>@quest.Title</h2>
			<div>
				<span>Created at: <span>@quest.CreateTime</span></span>
				<span>Updated at: <span>@quest.UpdateTime</span></span>
			</div>
			@Html.ActionLink("View", "Details", "Quest",new {questId = quest.Id})
		</div>

	}
</div>
<partial name="PageSelector" model="Model" />
