@using QueReal.PL.Models.Quest
@model QuestGetAllViewModel

<h1>My quests</h1>
<div>
    @Html.ActionLink("Create quest", "Create", "Quest", null, new {@class="add-button"})
</div>
<div>
    @foreach (var quest in Model.Quests)
    {
        <div class="quest-short-view">
            <h2>@quest.Title</h2>
            <div class="date-block">
                <span>Created at: <span>@quest.CreateTime</span></span>
                <span>Updated at: <span>@quest.UpdateTime</span></span>
            </div>
            <div>
                @Html.ActionLink("View", "Details", "Quest",new {questId = quest.Id}, new { @class="link-button"})
            </div>
        </div>

    }
</div>
<partial name="PageSelector" model="Model" />
